.heading{
    border-color: black;
    border-style:dotted;
    border-radius: 35px;
    padding: 10px;
    box-shadow:5px 5px 20px black;
}

.note{
    font-size: 20px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas{
    border-color: black;
    border-style:dotted;
    border-radius: 35px;
    box-shadow:5px 5px 20px black;
}

video{
    border-color: black;
    border-style:dotted;
    border-radius: 35px;
    box-shadow:5px 5px 20px black;
}

#pieArea{
    margin-top: 50px;
}